@import 'tailwindcss';
@import './font-face.css';
@import './base.css';
@import './animations.css';

button,
a {
    cursor: pointer;
}

body {
    background-color: var(--color-base-white);
    color: var(--color-base-black);
    font-family: var(--font-primary, 'SF Pro', Candara);
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
