@theme {
    /* Colors */

    --color-base-white: #ffffff;
    --color-base-black: #000000;
    --color-base-grey: #8b97a6;
    --color-base-grey-light: rgba(190, 195, 204, 0.16);

    --color-app-lime: #afca0a;
    --color-app-lime-light: #dce390;
    --color-app-construction: #ffd500;
    --color-app-magenta: #e6005b;
    --color-app-purple: #9e75b2;
    --color-app-blue: #00b9ee;
    --color-app-darkblue: #1961ac;
    --color-app-pink-light: #f5f5f7;

    /* Shadows */

    --shadow-bubble: 0 0.125rem 0 rgba(0, 0, 0, 1);

    /* Background gradient */

    --background-image-bubble-blue: radial-gradient(circle, #ffffff, #a1daf9 150%);
    --background-image-bubble-yellow: radial-gradient(circle, #ffffff, #ffed98);
    --background-image-bubble-pink: radial-gradient(circle, #ffffff, #f7bdc3 150%);
    --background-image-bubble-peach: radial-gradient(circle, #ffffff, #fccb8e 150%);
    --background-image-bubble-lilac: radial-gradient(circle, #ffffff, #d0bcdd 150%);
    --background-image-bubble-lime: radial-gradient(circle, #ffffff, #afca0a 150%);

    /* Fonts */

    --font-primary: 'AcuminPro', 'SF Pro', 'Open Sans', Candara;
    --font-secondary: 'Chaloops', 'Comic Sans', cursive;

    /* Container */

    --size-container: 92rem;
}

@utility container-center {
    max-width: var(--size-container);
    margin-inline: auto;
    width: 100%;
    padding-inline: 1.25rem;

    @media (width >= 64rem) {
        padding-inline: 2rem;
    }
}
